* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #3882F6;
  padding: 8px 32px;
  font-weight: 700;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-1 {
  height: 400px;
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 920px;
  display: flex;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.placeholder {
  background-color: rgb(108, 112, 122);
  width: 920px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustrations {
  margin-left: 250px;
  margin-right: 250px;
  padding-top: 10px;
  padding-bottom: 100px;
  display: flex;
  gap: 50px;
}

.illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty {
  border: 4px solid #3882F6;
  border-radius: 15px;
  height: 150px;
}

.section-3 {
  background-color: #E5E7EB;
  padding: 100px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quote {
  color: #1F2937;
  font-style: italic;
  font-size: 36px;
  width: 830px;
  margin-bottom: 0;
}

#quotee {
  font-size: 20px;
  font-weight: 900;
  text-align: end;
  width: 790px;
  margin-top: 0;
}

.header p {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
}

.hero * {
  margin: 0;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero p {
  margin-bottom: 8px;
  padding-right: 10px;
  font-size: 18px;
}

.section-2 h1 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  display: flex;
  align-items:center;
}

.illustration p {
  text-align: center;
  color: #424750;
  margin-top: 8px;
}

a,
.hero p {
  color: #E5E7EB;
  font-size: 18px;
}

.hero button,
.placeholder {
  color: white;
}

.illustration,
.empty {
  width: 150px;
}
